<!-- 회원가입 -->

<div class="container">

<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

 <div class="input-field">
    <%= f.input :email, required: true, autofocus: true %>
 </div>
 <div class="input-field">
    <%= f.input :nickname, required: true%>
 </div>
 <div class="input-field">
   <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
 </div>
 <div class="input-field">
    <%= f.input :password_confirmation, required: true %>
 </div>

  <div class="form-actions">
    
    	<%= button_tag( :class => "btn waves-effect waves-light") do %>
          Sign Up <i class="material-icons right">send</i>
        <% end %>
  </div>
<% end %>
<br>
<script>

$(document).ready(function() {
    Materialize.toast("가입 비밀번호는 암호화처리되어 저장됩니다.", 4000)
});
</script>
<%= render "devise/shared/links" %>

</div>
